@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

*{
    transition: all .5 linear;
    -webkit-transition: all .5 linear;
    -moz-transition: all .5 linear;
    -ms-transition: all .5 linear;
    -o-transition: all .5 linear;
}